.movieRow{
    margin-bottom: 30px;
}

.movieRow h2{
    margin: 0px 0px 0px 30px; /* top, right, bottom, left (TRBL) */
}

.movieRow--listarea{
    overflow-x: hidden; /* Tudo que passar da tela horizontalmente vai ser cortado. */
    padding-left: 30px;
}

.movieRow--item{
    display: inline-block; /* Faz eles ficarem um do lado do outro */
    width: 150px; /* Cada imagem vai ter 150px */
    cursor: pointer;
}

.movieRow--item img{
    width: 100%; /* Ou seja, 100% de 150px é 150px, cada img terá 150px. */
    transform: scale(0.9);
    transition: all ease 0.2s;
}

.movieRow--item img:hover{
    transform: scale(1.0);
}

.movieRow--list{
    width: 9999px;
}