.movieRow {
  margin-bottom: 30px;
  user-select: none;
}

.movieRow h2 {
  margin: 0px 0px 5px 20px; /* top, right, bottom, left (TRBL) */
}

.movieRow-listarea {
  overflow-x: hidden; /* Anything that crosses the screen horizontally will be clipped. */
  padding-left: 10px;
}

.movieRow-item {
  display: inline-block; /* Make them side by side. */
  width: 150px; /* Each image will be 150px. */
  cursor: pointer;
}

.movieRow-item img {
  width: 100%; /* That is, 100% of 150px is 150px, each img will be 150px. */
  transform: scale(0.9);
  transition: all ease 0.2s;
  height: 200px;
}

.movieRow-item img:hover {
  transform: scale(1);
}

.movieRowLeft, .movieRowRight{
  position: absolute;
  width: 40px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  align-items: center;  
  justify-content: center;
  overflow: hidden;
  opacity: 0;
  transition: all ease 0.5s;
  cursor: pointer;
}

.movieRow:hover .movieRowLeft,
.movieRow:hover .movieRowRight{
  opacity: 1;
}


.movieRowLeft{
  left: 0;
}

.movieRowRight{
  right: 0;
}

.movieRow-list{
  transition: all ease 0.5s;
}